import java.util.Scanner;

public class Workout {
    static float P;
    static int t;
    static int M;

    static float E = 0;
    static Running r = new Running();
    static Crossfit c = new Crossfit();
    static Kickboxing k = new Kickboxing();
    private static int[] array;
    //static float[] recordE;
    static Scanner sc = new Scanner(System.in);

    public static void main(String[] args) {
        start();
        outputInformation();
        }

    /*public static void recordDate(){
        for(int i = 0; i<7; i++){
            if(array[i] == i){
                recordE[i] = E;
            }
        }
    }*/
    public static void callories(){
            System.out.println("Введите ваш вес в кг: ");
            M = sc.nextInt();
            System.out.println("Введите время тренировки в минутах: ");
            t = sc.nextInt();
            System.out.println("Введите средний  пульс во время тренировки: ");
            P = sc.nextInt();
            E = (float) (0.014 * M * t * (0.12 * P - 7));
        }
    public static void start(){
        int a=0;
        array = new int[7];
        //recordE = new float[7];
        for(int i = 1; i<array.length; i++) {
            System.out.println("Какую тренировку вы провели в " + i + " день?\n 1. Беговую\n 2.Кроссфит\n 3.Кикбоксинг\n 4.Отдих");
            a = sc.nextInt();
            if (a == 1) {
                array[i] = a;
                callories();
                System.out.println("Введите дистанцию в км за " + i + " день: ");
                r.D = sc.nextInt();
                //recordE[i] = E;

            } else if (a == 2) {
                array[i] = a;
                callories();
                System.out.println("Введите максимальный вес снаряда за тренировку: ");
                c.MaxProjectileWeight = sc.nextInt();
            } else if (a == 3) {
                array[i] = a;
                callories();
            } else if (a == 4) {
                array[i] = a;
            }
        }
    }
    public static void outputInformation(){
        for(int i = 0; i<array.length; i++){
            if(array[i] == 1){
                r.information();
            } else if (array[i] == 2) {
                c.information();
            } else if (array[i] == 3) {
                k.information();
            }
        }
    }
}
